# Ignore intermediate Visual Studio / .NET build directories
**/bin/
**/obj/
.vs/
*.user
*.suo
*.pdb

# Ignore intermediate publish DLL directories while keeping the final installer Setup.exe
publish/win-x64/
publish/win-x86/
publish/installer/GSTJsonToExcel_Setup_v2.5.exe
!publish/installer/GSTJsonToExcel_Setup.exe
